#postlist, #monthBarGraph, #commentsGraph, #pieCharts{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
}

#postlist{
    height: 580px;
}

#monthBarGraph{
    margin-top: 100px;
    width: 75%;
    height: 200px;
    float: right;
}

#pieCharts, #commentsGraph{
    margin-top: 25px;
    width: 75%;
    height: 400px;
    float: right;
}
#pieCharts{
    display: none;
}

#sexGraph, #ageGraph{
    width: 42.5%;
    height: 80%;
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
    
}

#loadButton{
    margin-left: 22.5%;
    margin-right: 22.5%;
    width: 55%;
    margin-bottom: 5px;
    margin-top: 10px;
}

#sidebar{
    width: 20%;
    height: 700px;
    margin-top: 100px;
    float: left;
    text-align: center;
}

#gButton{
    float: right;
    margin-top: 25px;
}
#commentsGraph{
    padding-left: 5%;
}