/*.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/pennylogo.png') bottom right 15% no-repeat #46B6AC;
}*/

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  /*background: url('../assets/pennylogo.png') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}