/*Navigation styles*/

a, i {
    cursor: pointer;
}

nav a:hover {
    text-decoration: none;
}

.mdl-layout__header {
    background-color: #42709e;
}

/* start about page styles */
h1 {
    font-size: 3em;
}

/*iframe {
    width: 560px;
    height: 314px;
    margin: auto;
}*/

#about {
    background: #E3F2FD;
    margin-bottom: 40px;
}

#about p {
    margin-top: 25px;
    font-size: 12pt;
    line-height: 24pt;
    text-align: left;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#header-title {
    background-image: url("../assets/jar-of-pennies.jpg");
    background-size: cover;
    background-position: 0px -300px;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#filter {
    background-color: black;
    position: absolute;
    opacity: .5;
    height: 500px;
    width: 100%;
    z-index: 1;
}

#header-title-text {
    align-self: center;
    position: relative;
    z-index: 2;
}

#title-text {
    color: white;
    font-size: 56pt;
}

#header-tagline {
    color: white;
    font-size: 18pt;
}

ol, li {
    border-radius: 5px;
    font-size: 14pt;
    list-style-type: none;
    line-height: 24pt;
    padding-left: 30px;
    text-align: left;
}

li:hover {
    cursor: pointer;
}

h2 {
    font-size: 24pt;
    line-height: 20pt;
}

.tutorial img {
    max-width: 100%;
}

.selected {
    background-color: #42709e;
    color: #fff;
}

#about-section {
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 80%;
}

#how-to {
    margin-bottom: 70px;
}

#aboutButton {
    background: #E3F2FD;
    text-align: center;
    padding: 5em;
}

#aboutButton button {
    background: white;
    margin-bottom: 2em;
}

/* end about page styles */

/* start sign up page styles */
#signup, #createPost, #npoSignup {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 40px;
}

#signupForm > div, #npoSignupForm > div {
    width: 100%;
}

#signupForm button {
    background: #E3F2FD;
}

/* end sign up page styles */


/* reload page styles */

#reload {
    text-align: center;
}

#reload-form {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* end reload page styles */

/* content management page styles */

#content-manager {
    text-align: center;
}

#post-feed {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 600px;
}

.user-post {
    border: 1px solid grey;
    padding: 10px;
}

.post-header-left {
    display: inline-block;
    margin-bottom: 5px;
    width: 80%;
}

.post-header-right {
    display: inline-block;
    font-size: 20pt;
    text-align: right;
    width: 19%;
}

.post-avatar {
    height: 50px;
    width: 50px;
}

.user-name {
    color: black;
    font-weight: bold;
}


/* discover page styles */
/* adapted from sherry's content management pg to keep post tags consistent */

#discover {
    text-align: center;
}

#post-feed {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} 

#totop {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.user-post {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
}

.post-header-left {
    display: inline-block;
    margin-bottom: 5px;
    width: 70%;
}

.post-header-right {
    display: inline-block;
    font-size: 20pt;
    text-align: right;
    width: 29%;
}

.post-avatar {
    height: 75px;
    width: 75px;
    margin-left: 5px;
    margin-right: 5px;
}

.post-footer > ul{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

.post-footer > ul > li{
    display: inline;
    text-align: center;
    margin: 5px;
}

.post-body{
    margin-left: 75px;
    padding-left: 10px;
}

.cause-name {
    color: black;
    font-weight: bold;
    font-size: 30px;
} 

.npo-name {
    color: gray;
    font-size: 20px;
    margin-left: 10px;
}

#moneyraised{
    border-bottom: 1px dotted #000;
}


/* profile page styles */

.profile {
    padding: 5px;
    border-radius: 5px;
}

.profile-pic {
    height: 200px;
    width: 200px;
    display: block;
    float: left;
    margin-right: 25px;
}

.profile-name {
    display: inline;
    font-size: 55px;
    
}

.profile-funds {
    border-bottom: 1px dotted #000;
    display: inline-block;
    font-size: 30px;
    position: relative;
    right: -10px;
    color: gray;
}

.profile-update input {
    height: 75px;
    width: 80%;
}

.profile-links > ul {
    list-style-type: none;
}

.profile-links > ul > li {
    display: inline;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#profile-feed {
    text-align: center;
}

#update-submit {
    float: right;
    margin-top: 5px;
}

/* donation page styles */

#donated {
    color: gray;
    font-size: 24px;
}

#raised{
    font-size: 14px;
}

/* end donation page styles */

/* create post styles, some styles with signup section */

.postRight {
    margin-top: .5em;
    float: right;
}


/* Discover MD styles */
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #739ecf;
  /*url('../assets/pennylogo.png') bottom right 15% no-repeat*/
}

#card-feed {
    display: flex;
}

#card-feed > div {
    margin: 2em;
}


/* feed MD styles */

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: "gray";
  height: 176px;
  background: #E3F2FD;
  /*#BBDEFB;*/
  
  /*#739ecf*/
  /*background: url('../assets/pennylogo.png') center / cover;*/
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

#createPost .mdl-card__title-text, .postStatistics {
    background: #E3F2FD;
}

.postStatistics {
    padding: 0.5em;
}

.demo-card-wide > .mdl-card__menu {
  color: "gray";
}

.demo-card-wide {
    margin-top: 2em;
}

#post-feed > div {
    width: 100%;
}

.commentInput {
    margin: 0.5em;
    width: 100%;
}

.postAuthor {
    font-weight: bold;
}


/* login dialog styles */
#dialogBox, #dialogBox2 {
    width: 35%;
    color: #616161;
}

#dialogBox label {
    color: #616161;
}

#genderDiv label {
    margin-right: 1em;
}

/*file input*/

body {
  display: flex;
}

.file_input_div {
  /*margin: auto;*/
  width: 250px;
  height: 40px;
}

.file_input {
  float: left;
}
.mdl-button--fab.mdl-button--colored, .mdl-button--fab.mdl-button--colored:hover {
    background-color: black;
    color: white;
}
#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none !important;
}


.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:-18px;
    top:7px;
    /*background:gray;*/
    text-align: center;
    /*border-radius: 30px 30px 30px 30px;
    color:white;*/
    padding:5px 10px;
    font-size:20px;
}

/*input:focus {
    color: gray;
}

.mdl-textfield__input.is-invalid, .mdl-textfield__input:focus {
    border-color: gray;
}*/


/* reload styles */

#reload {
	background-color: #fff;
	margin-top: 30px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 8px;
    margin-bottom: 0px;
}

#reload div {
	padding-left: 5px;
    padding-right: 5px;
}

#reload label {
    font-weight: normal;
}

#reload button {
	float: right;
}

#reload p {
    font-weight: bold;
}

.full-input {
    width: 100%;
}

.quarter-input {
	  width: 25%;
}

#reloadH2 {
    font-size: 24pt;
    line-height: 20pt;
}
