/*body {
	background-color: #ccc;
}*/

#reload, #profile {
	background-color: #fff;
	margin-top: 30px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 8px;
    margin-bottom: 40px;
}

#reload div {
	padding-left: 5px;
	padding-right: 5px;
}

#reload label {
    font-weight: normal;
}

#reload button {
	float: right;
}

#reload p {
    font-weight: bold;
}

.full-input {
    width: 100%;
}

.quarter-input {
	float: right;
	width: 25%;
}

/* profile css */
.profile-pic-section {
	height: 200px;
	text-align: center;
}

.file_input_div {
  margin: auto;
  width: 200px;
  height: 40px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 150px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none !important;
}