<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Penny-fyt</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/penny.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDWON7t6-oxvb_U3Z8mZAqYZYT5YmNQlZA",
        authDomain: "penny-fyt.firebaseapp.com",
        databaseURL: "https://penny-fyt.firebaseio.com",
        projectId: "penny-fyt",
        storageBucket: "penny-fyt.appspot.com",
        messagingSenderId: "472416068627"
      };
      firebase.initializeApp(config);
    </script>

    <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>


    <!-- scripts -->
    <script type="text/javascript" src="js/penny.js"></script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="myApp" ng-controller="myCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Penny-fyt</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#signup">Sign Up</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-toggle="modal" data-target="#myModal" style="cursor: pointer;">Login</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- content goes here --> 
    <section id="createPost">
        <div class="container">
            <div class="row">
                <div class="col-md-6 signuplinks">
                    <div class="form-group">
                        <form ng-submit="createPost()" id="createPostForm">
                            <div class="form-group">
                                <label for="post">Write a post:</label>
                                <textarea class="form-control" id="postText" ng-model="postText"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="chooseNPO" >Tag an NPO:</label>
                                <select id="chooseNPO" ng-model="npo" >
                                    <option value="" disabled selected>Choose an NPO...</option>
                                    <option value="Circle Of Giving">Circle of Giving</option>
                                    <option value="Planned Parenthood">Planned Parenthood</option>
                                </select>
                                <button type="submit" class="btn btn-default postRight">Post</button>
                            </div>
                          
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        
    <!--</section>
    <section id="posts">-->
        <div id="post-feed">
            <div class="user-post" ng-repeat="post in posts">
                <div class="post-header-left">
                    <img src="" class="post-avatar" alt="user profile thumbnail" />
                    <a href="" class="cause-name">{{post.text}}</a>
                    <a href="" class="npo-name">{{post.npo}}</a>
                </div>
                <div class="post-header-right">
                <!--should add tooltip to expain $ with js -->
                <span id="moneyraised" title="Amount Raised">${{post.raised}}</span>
                </div>
                <div class="post-body">
                    <p>Lorem ipsum dolor sit amet, sit an nonumes molestiae, nec et probatus legendos explicari, dicam vidisse cu ius. 
                    Et est suscipit reprimique, nec ex utroque praesent. Facilis patrioque prodesset his id. Quo feugait dolores consulatu cu. 
                    Ad pri delenit fabellas.</p>
                </div>
                <div class="post-footer">
                    <ul>
                        <li>Like</li>
                        <li>Comment</li>
                        <li>Share</li>
                        <li>Report</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
